html { 
    font-size: 14px;
    min-height: 100%;
    overflow-x: hidden; 

    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-text-size-adjust: none;
}
 

  
#app { 
  margin: 0em auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh; 

    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50; 
}

input,
select {
    min-width: 100px;
}
.search-filters {
    align-items: center;
    button {
        width: 220px;
    }
}
 



.sections-header {transition:1s;}
.second-table {
    display: block;
    max-height: 100px;
    /*height: 333px;*/
    min-height: 233px;
    .sections-header {
        background-color: #007bff;
        &:hover{
            background-color: red;
        }
                
    }
    
}

 
/* TABLE=> */

.height0 {
    height: 0px;
    display: none;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.tr-th-second-inport,
.tr-th-second { 
    transition: 1s; 
    &:hover {
        transform: zoom(1.2);
        background: red;
    }
}

.tr-th-second-inport,
.tr-th-main {
    top: 0px;
}
 
.tr {
    display: flex;
    flex-direction: row;
    &>div {
        width: 33.3333%;
        flex-grow: 1;
        padding: 5px;
        word-break: break-all;
        flex: 1;
        border: 1px solid;
    }
} 

.tr-th {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    background-color: rgb(27, 30, 36);
    color: rgb(220, 220, 220);
}

.second-table-minimized { 
    display: block;
    min-height: 36px;
    .sections-header {
        background-color: orange;
        &:hover{
            background-color: red;
        }
    }
}
 
 
.tr-th-main { z-index: 2;} 

.tr-th-main-draft,
.tr-th-second-inport,
.tr-th-second {
    cursor:pointer;
}
.date-header {
    cursor: pointer;
    background-color: white;
}
.data-row:nth-child(odd) {
    background-color: #CCCCC0;
    &:hover { 
        background-color: #333366;
        color: white;
    }
}

.data-row:nth-child(even) {
    background-color: #CCCCCC;
    &:hover { 
        background-color: #333386;
        color: white;
    }
}
/* <= TABLE */

.wrapper {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 100vh;
    margin: 0px !important;
    &>.second-table {
        background: gray;
    }
}

.overflow {
    overflow: auto;
}


 
  
.drag-from { /*cursor: pointer;*/ }
.over {  border: 2px dashed red !important; }







/*SEARCH PANEL*/
.badge {
    transition: 1s;
    &:hover {
        transform: scale(1.2);
    }
}
.icons-width {
    width:30px;
    transition: 1s;
    &:hover {
        transform: scale(1.2);
    }
}
.disabled { cursor: no-drop; }
legend {
   min-width: 67px;
}
.legends {
 display: contents !important;
}

.search-panel {
 padding: 0 33px !important;
 margin: 0 5px ;
 text-align: center;
}

@media (max-width: 900px) {
 legend {
   text-align: left !important;
 }
 .btn {
   flex:10;
 }
 .graf_refresh {
   order: 5;
 }
 .timeTo {
   order: 4;
 }
 .timeFrom {
   order: 3;
 }
 .ed_Port {
   order: 2;
 }
 .ed_DateFrom {
   order: 1;
 }
}
.search-panel {
 /*min-width: 1500px;
   display: flex;
   justify-content: space-between;
   align-items: center;*/
}
.search-panel > div {
 /* display: flex;
   align-items: center;
   
   justify-content: center; 
   width: 100%; */
}


/*date-header*/
.date-header{
    cursor: pointer;
    &:hover {
        color: red;
    }
}


 .time-picker input.display-time,
input {
    height: 43.5px;
    border-radius: 4px;
    padding: 5px;
}



